header{
  display: flex;
  font-family: Verdana;
  font-weight: bold;
  font-size: 14px;
  align-items: center;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid black;
  z-index: 1;
  position: fixed;
}

.logo{
  display: flex;
  align-items: center;
  padding-left: 15px;
  flex-grow: 1;
  border: 1px solid black;
}

.logo span{
  margin-left: 10px;
  color: MediumAquaMarine;
}

nav span{
  padding-left: 40px;
}

a{
  color: black;
}

.main-content{
  display: flex;
  border: 1px solid black;
  width: 1200px;
  padding-top: 110px;
}

.column{
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}

.column .large{
  border: 1px solid black;
  width: 630px;
}

.column .medium{
  border: 1px solid black;
  width: 300px;
}

.column .small{
  border: 1px solid black;
  width: 240px;
}

.main-story{
  border: 1px solid black;
}

.image-headline{
  border: 1px solid black;
}

.image-headline span{
  border: 1px solid black;
}

.story{
  border: 1px solid black;
}

.image-content{
  border: 1px solid black;
}
